<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yichen.casetest.dao.JsonTestMapper">
  <resultMap id="BaseResultMap" type="com.yichen.casetest.model.JsonTestDTO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>

  <select id="getById" resultMap="BaseResultMap" >
    select * from json_test where id = #{id,jdbcType=BIGINT}
  </select>
</mapper>